img{
  width: 100%;
}
@font-face{
  font-family: Publico;
  src: url('../fonts/PublicoText-Bold.otf'),
  url('../fonts/PublicoText-Bold.otf');
}
@font-face{
  font-family: Graphik;
  src: url('../fonts/Graphik-Regular.otf'),
  url('../fonts/Graphik-Regular.otf');
}

@font-face{
  font-family: GraphikBold;
  src: url('../fonts/Graphik-Medium.otf'),
  url('../fonts/Graphik-Medium.otf');
}
.sm-spacer{
  height:10px;
}
.md-spacer{
  height:30px;
}
.lg-spacer{
  height:50px;
}

.hide{
  display: none !important;
}

.disclaimer{
  width:160px;
  color:gray;
  opacity: .6;
}
.text{
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px 12px;
  line-height: 27px;
  width: 400px;
  margin-bottom: 10px;
  color: #525975;
  font-family: Graphik;
  border: 1px solid #dedede;
  padding: 10px 12px;
  line-height: 27px;
  border-radius: 4px;
  transition: .2s;
  resize: none;
}
input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 20px;
  height: 20px;
  border:1px solid #CBCDD6;
  // transition: all .3s linear;
}
input[type="checkbox"]:checked{
  background-color: #1C85E8;
  border:1px solid #1C85E8;
  outline: 2px solid #fff;
  outline-offset: -3px;
}
.checkbox-label{
  position: absolute;
  margin-left:20px;
  margin-top: 7px;
}

input[type="checkbox"]:focus{
  box-shadow: none;
  // border:1px solid #1C85E8;
  outline: 2px solid #fff;
  outline-offset: -3px;
}

.checkbox-label .blue{
  margin-top: -18px;
}

#checkboxes ul {
  margin: 0;
  list-style: none;
  padding:0;
}
#checkboxes li {
  position: relative;
  font-size:16px;
  text-align: left;
  font-family: Graphik;
  font-size: 16px;
  font-weight: normal;
  margin:20px 0;
  color:#70828f
}
.buttons{
  margin-left:120px;
  margin-top: 60px;
}
.blue-button{
  display: inline-block;
  background-color: #1C85E8;
  border: 2px solid #1C85E8;
  font: 14px Graphik, serif;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 1.4em;
  color: white;
  transition: .2s;
  text-align: center;
  padding: 15px 30px;
  border-radius: 2px;
  margin-left:10px;
}
.blue-button:hover{
  background-color: #0F1C47;
  border: 2px solid #0F1C47;
  cursor: pointer;
  transition: .2s;
}
.white-button{
  display: inline-block;
  background-color: white;
  border: 2px solid #f0f0f0;
  font: 14px Graphik, serif;
  font-weight: bold;
  letter-spacing: .5px;
  line-height: 1.4em;
  color: #0F1C47;
  transition: .2s;
  text-align: center;
  padding: 15px 30px;
  border-radius: 2px;
}

.no-abs{
  position: static !important;
}
.gray-bg{
  background-color: #f0f0f0 !important;
}
.white-bg{
  background-color: white;
}
.white-button:hover{
  background-color: #fafafa;
  cursor: pointer;
  transition: .2s;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1.4em;
  font-weight: normal;
}

h1{
  font-family: Publico;
  font-size: 44px;
  color: #0F1C47;
  line-height: 1em;
  font-weight: normal;
}
h2{
  font-family: GraphikBold;
  font-size: 32px;
  color: #0F1C47;
}
h3{
 font-family: Graphik;
 font-size: 24px;
}

h4{
 font-family: Graphik;
 font-size: 18px;
 margin: 10px 0;
}


h5{
  font-family: Graphik;
  font-size: 16px;
  font-weight: normal;
  color:#555B77;
}
h6{
  margin:8px 0;
  font-family: Graphik;
  font-size: 12px;
  font-weight: normal;
}
p{
  font-family: Graphik;
  font-size: 14px;
  color:#555B77;
}
a{
  color:#1C85E8;
  font-family: Graphik;
  font-size: 14px;
  text-decoration: none;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  position: relative;
}
.bg-right{
  position: fixed;
  height: 100vh;
  background-color: white;
  right:0;
  width: 400px;
}

.main-container{
  max-width: 1440px;
  background-color: white;
  margin: 0 auto;
  font-size: 0;
  position: relative;
}
.hero{
  background-image: url('../images/bg-hero.png');
  background-size: cover;
  background-color: #F5F8FB;
}
.interstitial{
  width: 580px;
  line-height: 1.4em;
}
.insterstitial-img{
  width: 481px;
  margin-top: 30px;
}

h4.interstitial{
  color:#555B77;
  line-height: 1.6em;
}

.main-index{
  min-height: 100vh;
}
.main-left{
  display: inline-block;
  width: 350px;
  background-color: #F5F8FB;
  min-height: 100vh;
  margin-top: 85px;
  padding-top: 50px;
}
.top-percent{
  position: absolute;
  left: -40px;
  top: 14px;
}
.bottom-percent{
  position: absolute;
  left: -40px;
  top: 146px;
}
.main-right{
  margin-top: 85px;
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
}

.bold{
  font-family: GraphikBold;
}

.blue{
  color:#1C85E8;
}
.red{
  color:#FF7F82;
}
.green{
  color: #68E1C7;
}
.yellow{
  color: #FFC259;
}
.white{
  color: white;
}
.estimate{
  float:right;
  text-align: right;
  margin-right:60px;
  position: relative;
}
.fixed-section{
  padding:16px 50px;
}
.fixed-section h4{
  padding:4px 0 !important;
  font-family: GraphikBold;
}
.number{
  margin-right:30px;
}

.question{
  margin-left:120px;
}
.question h1{
  line-height: 1.4em;
  font-size: 34px;
}

.gray{
  color: #555B77;
  opacity: .7;
}
.graphik{
  font-family: Graphik !important;
}
.graphikbold{
  font-family: GraphikBold !important;
}
.bg-lightblue{
  background-color: #F5F8FB !important;
}

.fixed-section .left{
  float: left;
}

.fixed-section .right{
  float: right;
}

.header.fixed{
  top:-90px;
  transition: all .2s;
}
.notified{
  position: fixed;
  bottom:-400px;
  right:8%;
  z-index: 100;
  width: 470px;
  transition: all .5s;
}
.header{
  z-index: 100;
  position: absolute;
  width:100%;
  height: 85px;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
}
.fixed{
  position: fixed !important;
}

.header img{
  width:116px;
  margin:30px;
}
.sign-in{
  float: right;
  margin: 34px 27px;
}
.breadcrumb-container{
  position: absolute;
  top:85px;
  left:350px;
  width: 100%;
  font-size: 0;
}
.breadcrumb{
  height: 60px;
  z-index: 100;
  width:240px;
  display: inline-block;
  text-align: center;
}
.breadcrumb p{
  line-height: 32px;
}
.breadcrumb.active{
  background-color: #1C85E8;
  color: white;
}
.select-container{
  max-width:800px;
}
.single-select{
  display: inline-block;
  text-align: center;
  border: 1px solid #DDD;
  padding: 10px 16px 22px 16px;
  min-width: 18px;
  border-radius: 40px;
  margin: 10px 30px 10px 0;
  width: 220px;
}
.single-select h6, .checkbox-label h6{
  font-size: 10px;
  margin:4px 0;
  font-size: 10px;
  font-family: GraphikBold;
}

.single-select.active, .single-select.active:hover{
  background-color: #1C85E8;
}

.single-select.active h5, .single-select.active h6{
  color:white;
}

.single-select h5{
  margin:0;
}

.single-select:hover{
  background-color: #f6f6f6;
  cursor: pointer;
}
.no-tag{
  padding: 28px 16px;
  vertical-align: top;
}

.home-details{
  text-align: center;
  padding:70px;
}

.profile-pic{
  width:100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.section{
  background-color: white;
  padding: 40px 0;
  max-width: 1040px;
  margin: 0 auto;
}
.vv-comps{
  text-align: center;
  width: 100%;
}
.vv-section{
  display: inline-block;
  vertical-align: bottom;
}
.vv-section.value{
  background-image: url("../images/gradient-bg.png");
  background-size: cover;
  width:40%;
}

.vv-section h6{
  font-size: 14px;
  margin:0;
  color:#FF7F82;
}
.vv-section h2{
  margin-top:8px;
}
.vv-section.left h6{
  text-align: left;
  float: right;
  width:200px;
  margin-right:40px;
  margin-bottom:50px;
  color: #9FA4B5;
}
.vv-section.right h6{
  text-align: left;
  float: left;
  width:200px;
  margin-left:40px;
  margin-bottom:50px;
  color: #9FA4B5;
}

.vv-line{
  height:16px;
  width: 100%;
  border-radius: 8px;
  background-image: url("../images/line.png");
  background-size: cover;
  position: relative;
}
.vv-line-highlight{
  width: 41%;
  height:16px;
  background-color: #1C85E8;
  margin: 0 auto;
  border-radius: 8px;
}

.vv-comp{
  width:16px;
  height: 16px;
  border:4px solid white;
  background-color: #1C85E8;
  position: absolute;
  border-radius: 50%;
  top:4px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
  transition: all .2s;
}
.vv-comp-container{
  padding:50px;
}

.vv-comp:hover{
  background-color: #0F1C47;
  top:0;
  cursor: pointer;
}

.comp1{
  left:10%;
}
.comp2{
  left:15%;
}
.comp3{
  left:38%;
}
.comp4{
  left: 45%;
}
.comp5{
  left: 50%;
}
.comp6{
  right: 38%;
}
.comp7{
  right: 34%;
}
.comp8{
  right: 10%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #1C85E8;
  outline: none;
  transition: all .2s;
}

.slider:hover {
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  border: 3px solid white;
  border-radius: 50%;
  background: #1C85E8;
  cursor: pointer;
}
.slider-labels h6{
  color: #555B77;
  opacity: .8;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.slider-labels{
  position: relative;
  text-align: center;
  padding-top: 2px;
}
.slider-left{
  position: absolute;
  left:0;
  top:0;
}
.slider-right{
  position: absolute;
  right:0;
  top:0;
}
.slider-area{
  width:160px;
  display: inline-block;
}
.slider-interactive{
  display: inline-block;
  width: 400px;
}

#slidecontainer{
  margin:40px 0;
}

.carousel-container{
  padding-top: 20px;
}

.carousel-container h6{
  color:#1C85E8;
  font-family: GraphikBold;
  margin-top:32px;

}

.carousel-container h4{
  color: #0F1C47;
  font-family: GraphikBold;
  font-weight: normal;
}

.carousel-container p{
  margin:8px 0;
  font-size: 16px;
}
.carousel-container .date{
  font-size: 16px;
  font-family: Graphik;
  font-weight: normal;
  margin-left: 10px;
  color:#555B77;
}
.carousel {
    width: 50%;
}

.slick-slide {
  margin: 0px 10px;
  outline: 0 !important;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  // opacity: .2;
}
.thin-line{
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
}
.comp-left{
  width: 250px;
}
.comp-right{
  margin:0 30px;
}

.comp-left, .comp-right{
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.slick-slide{
  padding:20px;
  margin: 20px 0;
}
.slick-selected, .slick-nonactive:hover{
  box-shadow: 0px 2px 30px rgba(0,0,0,0.15);
  margin-top:15px;
}
.slick-nonactive:hover{
  cursor: pointer;
}

table {
  font-size: 16px;
  font-family: Graphik;
  border-collapse: collapse;
  width: 100%;
  color:#0F1C47;
}

td, th {
    border-bottom: 1px solid #efefef;
    text-align: left;
    padding: 10px 20px;
}

th{
  padding-bottom:20px;
}
.strong{
  font-family: GraphikBold;
  font-weight: normal;
}

.unknown{
  color:#1C85E8;
  font-family: GraphikBold;

}
.collapse{
  padding:10px;
  width:14px;
  height:14px;
  position: absolute;
  top:-10px;
  right:-40px;
}
.collapse:hover{
  cursor: pointer;
}


// .slick-current {
//   opacity: 1;
// }