body,html{
	margin:0;
	padding:0;
	background-color: #f0f0f0;
	// background-image:url("images/bg.png");
}
a{
	color:inherit;
	padding:0;
	margin:0;
	text-decoration: inherit;
}
img{
	width: 100%;
}
@font-face{
	font-family: Publico;
	src: url('fonts/PublicoText-Bold.otf'),
	url('fonts/PublicoText-Bold.otf');
}
@font-face{
	font-family: Graphik;
	src: url('fonts/Graphik-Regular.otf'),
	url('fonts/Graphik-Regular.otf');
}

@font-face{
	font-family: GraphikBold;
	src: url('fonts/Graphik-Semibold.otf'),
	url('fonts/Graphik-Semibold.otf');
}
h1{
	font: 600 36px Publico,sans-serif;
	letter-spacing: -0.18px;
	line-height: 1.4em;
	color: #0F1C47;
}
h2{
	font: 24px Graphik, serif;
	line-height: 1.4em;
	color: #555B77;
}
h3{
	font: 18px GraphikBold, serif;
	line-height: 1.4em;
	color: #555B77;
}
h4{
	font: 16px Graphik, serif;
	letter-spacing: -0.1px;
	line-height: 1.4em;
	color: #525975;
}
h6{
	font: 12px GraphikBold, serif;
	line-height: 1.4em;
	text-transform: uppercase;
	color: #1C85E8;
}

p{
	font: 14px Graphik, serif;
	letter-spacing: -0.1px;
	line-height: 1.4em;
	color: #555B77;
}
ul{
	padding:0;
}
ul li{
	font: 16px Graphik, serif;
	margin: 16px 0;
	list-style: none;
	color: white;
	opacity: .4;
}
.disabled{
	opacity: 0;
}
.upload-button{
	width: 260px;
    padding-top: 60px;
}

// li:before{
// 	// content: url('images/checkmark.svg');
// 	padding-right:15px;
// }

.fun-fact{
	position: absolute;
    bottom: 150px;
    width: calc(100% - 160px);
    text-align: center;
}

.fun-fact img{
	display: inline-block;
    width: 16px;
    vertical-align: top;
    margin-top: 8px;
    padding-right: 15px;
}

.fun-fact p{
	display: inline-block;
	vertical-align: top;
	opacity: .7;
}


li img{
	display: inline-block;
	width: 14px;
	padding-right: 10px;
	opacity: 0;
}
.break-line{
	margin: 50px auto 0 auto;
	width:40px;
	height:2px;
	background-color: #ddd;
}
.single-question{
	display: none;
	opacity: 0;
	margin:0 0 0 60px;
	height: calc(100% - 88px);
}
.narrow{
	width:500px;
}
.question-intro{
	padding: 0 50px;
	border-radius: 2px;
	margin-bottom: 50px;
}
.answers{
	text-align: center;
	margin: 40px 0;
}

.num{
	margin: 80px 0;
}

.answers p{
	text-align: left;
    margin-left: 80px;
}
// .next-button, .skip-button{
// 	float: right;
// 	margin-bottom: 20px;
// }
// .next-button:hover, .skip-button:hover{
// 	cursor: pointer;
// }
.back-next-info{
	border-top: 1px solid #EEEEEE;
    padding: 40px 40px 0 40px;
    margin: 0 -50px;
    overflow: hidden;
    position: absolute;
    width: 620px;
    bottom: 40px;
}
.next-button, .next-button-finish{
	// width:200px;
	display: inline-block;
	background-color: #1C85E8;
	border: 2px solid #1C85E8;
	font: 14px Graphik, serif;
	font-weight: bold;
	letter-spacing: .5px;
	line-height: 1.4em;
	color: white;
	transition: .2s;
	text-align: center;
	padding:15px 30px;
	border-radius: 2px;
	float:right;
}
.back-button{
	// width:200px;
	display: inline-block;
	background-color: white;
	border: 2px solid #F0F0F0;
	font: 14px Graphik, serif;
	font-weight: bold;
	letter-spacing: .5px;
	line-height: 1.4em;
	color: #515976;
	transition: .2s;
	text-align: center;
	padding:15px 30px;
	border-radius: 2px;
	margin-right:20px;
	float:left;
}
.back-next{
	width: 100%;
	text-align: center;
}
.back-button:hover, .next-button:hover, .next-button-finish:hover{
	cursor: pointer;
}


.button{
	display: inline-block;
	text-align: center;
	font:16px Graphik, serif;
	color: #525975;
	border:1px solid #DDD;
	padding: 16px;
	min-width: 18px;
	border-radius: 25px;
	margin: 5px;
}
.button:hover{
	background-color: #f6f6f6;
	cursor: pointer;
}
.button.active{
	background-color: #1C85E8;
	color: white;
	border: 1px solid #1C85E8;

	// background-color: white;
 //    color: #1C85E8;
 //    border: 1px solid #1C85E8;
}
.two-col{
	width: 200px;
}
.one-col{
	width: 380px;
}
.od_button{
	background-color: #1C85E8;
	padding:20px;
	width: 200px;
	text-align: center;
	font-family: Graphik;
	color: white;
	border-radius: 2px;
	margin: 60px auto 60px auto;
	transition:.2s;
}

.sm-margin-below{
	margin-bottom: 20px;
}

.od_button:hover{
	background-color: #03476B;
	cursor: pointer;
}

.od_button_other{
	border: 2px solid #e6e6e6;
	padding:20px;
	width: 200px;
	text-align: center;
	font-family: Graphik;
	color: #525975;
	border-radius: 2px;
	margin: 0 auto 60px auto;
	transition:.2s;
}
.od_button_other:hover{
	background-color: #f0f0f0;
	cursor: pointer;
}
textarea, input{
	color:#525975;
	font-family: Graphik;
	letter-spacing: -0.1px;
	border: 1px solid #dedede;
	padding: 10px 12px;
	line-height: 27px;
	border-radius:4px;
	transition: .2s;
	resize: none;
}
textarea:focus, input:focus{
	outline: 1px solid #1C85E8;
}
input.text{
	font-size: 16px;
	box-sizing: border-box;
	padding: 10px 12px;
	line-height: 27px;
	width: 200px;
	margin-bottom: 10px;
}
input.large{
	width:400px;
}
textarea.text{
	font-size: 16px;
	box-sizing: border-box;
	padding: 10px 12px;
	line-height: 27px;
	width: 480px;
}
textarea.text::placeholder, input.text::placeholder{
	color:#BABCBC;
}
.kitchen input.option{
	width:136px;
}
.bathroom input.option{
	width:155px;
}
.homeyard input.option{
	width:136px;
}
.yourinfo input.option{
	width:155px;
}

.laststep input.option{
	width:220px;
}

input.selected{
	background-color: #1C85E8;
	color: white;
	border: 1px solid #1C85E8;
}
.bottom{
	position: fixed;
	max-width:1600px;
	bottom:0;
	height:82px;
	width:100%;
	background-color: white;
	z-index: 100;
	box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1);
}
.b{
	padding: 20px 58px;
    margin: -20px -58px;
}
.show{
	display: block ;
	opacity: 1;
}

button{
	width:200px;
	height:50px;
	background-color: #1C85E8;
	border: none;
	font: 14px Graphik, serif;
	font-weight: bold;
	letter-spacing: .5px;
	line-height: 1.4em;
	color: white;
	transition: .2s;
}

button.half{
	margin-left: 8px;
    width: 120px;
}

button.alt{
	border: 2px solid #f0f0f0;
	background-color: white;
	color:#555B77;
}
button.alt:hover{
	border: 2px solid #dedede;
	background-color: #f9f9f9;
}
button:hover{
	background-color: #0F1C47;
	cursor: pointer;
}
button:focus{
	outline: none;
}

.select-all{
	font-family: GraphikBold;
	// color: #1C85E8;
}
.bar{
	height:8px;
	background-color: blue;
	border-radius: 4px;
	background-color: #D2E7FA;
	margin: 10px 10px 30px;
}

.bar-progress{
	width:6%;
	height:8px;
	border-radius:4px;
	background-color: #1C85E8;
	z-index: 100;
	transition: .2s;
}

.page-container{
	margin: 0 auto;
	max-width: 1600px;
	min-height: 100vh;
	background-color: white;
}
.form-container{
	width: 100%;
	height: 100vh;
	// background-color: #1C85E8;
	background-image: url("images/bg.png");
	background-size: cover;
}
.question-controls-container{
	width:1020px;
	margin: 0 auto;
	padding-top: 60px;
	// display: inline-block;
}
.completion-tracker{
	display: inline-block;
	width: 150px;
	vertical-align: top;
	margin:120px 0;
}
.question-box-container{
	width:700px;
	height: 520px;
	transition: .5s;
	background-color: white;
	margin: 0 auto;
	display: inline-block;
	border-radius: 2px;
	// border: 1px solid #f0f0f0;
	position: relative;
	transition: .5s;
	box-shadow: 0px 2px 50px rgba(0,0,0,.2);
}
.question-content-container{
	padding:40px 50px;
	height: 100%;
}
.question-main{
	text-align: center;
	padding-top: 10px;	
}
.question-sub{
	text-align: center;
}
// .back-button{
// 	width: 14px;
//     display: inline-block;
//     vertical-align: top;
//     margin-top: 230px;
//     padding-right: 15px;
// }

.section-container{
	margin: 0 auto;
	padding: 30px 9px;
	max-width: 980px;
}
.nav-container{
	max-height: 85px;
}

.section-title {
    text-align: center;
    width: 100%;
    margin: 0px auto;
}
.line{
	width: 100%;
	height:1px;
	background-color: #E3E4E4;
	margin: 40px 0 20px 0;
}
.question-row{
	padding: 60px 0;
}

.question-container{
	max-width:700px;
	display:inline-block;
}

.question-container.large{
	max-width: 1030px;
}

.question-container.sm img{
	padding-top: 20px; 
	width: 310px;
}

.question-container.large img{
	margin: 0 -25px;
	width: 1030px;
	padding-top: 20px; 
}

.mls{
	width:100px;
	margin:54px 92px 0 0;
	margin-right:92px;
	text-align: center;
	display: inline-block;
}
.mls img{
	max-height:30px; 
}
.mls p{
	font-size: 14px;
}
.info{
	display:inline-block;
	float:right;
}
.light{
	vertical-align: top;
	width: 14px;
	display: inline-block;
	padding: 12px;
}
.info-blurb{
	display: inline-block;
	width:180px;
}
.info-blurb p{
	font-size: 14px;
	color: #888CA0;
}

.text-response input.text{
	width:200px;
	margin: 20px 0 0 0;
}

.hide{
	display: none;
	// opacity: 0;
 //    margin: 0;
 //    padding: 0;
 //    height: 0;
}
.display-none{
	display: none;
}
.perm-add-tooltip{
	transition: .2s;
	position: absolute;
    margin: -245px -280px;
}
.chem-add-tooltip{
	transition: .2s;
	position: absolute;
    margin: -57px -280px;
}
.tooltip-bg p{
	font-size: 12px;
}
.tooltip-bg{
	z-index: 1;
	border: 1px solid #f0f0f0;
    box-shadow: 0px 8px 20px #e6e6e6;
    padding: 5px 20px;
    width: 200px;
}
.point{
	margin: -70px 231px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
    /* border: 1px solid #f0f0f0; */
    box-shadow: 7px -3px 10px #f0f0f0;
    z-index: -332;
}
.point-chem{
	margin: -37px 231px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
    /* border: 1px solid #f0f0f0; */
    box-shadow: 5px -3px 4px #f0f0f0;
    z-index: -332;
}
.name{
	display: inline-block;
}
.name p{
	margin-top: 20px;
}
.text-response input.name{
	margin:0 20px 0 0;
	width:280px;
}
